## Import and read

In [71]:
import os
import time

from pyspark.sql import SparkSession
from pyspark.storagelevel import StorageLevel
from pyspark.sql.functions import *

In [72]:
pyspark_submit_args = '--packages org.mongodb.spark:mongo-spark-connector_2.11:2.4.0 pyspark-shell'
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

In [74]:
spark_meters = SparkSession \
    .builder \
    .appName("test_connection") \
    .config("spark.mongodb.input.uri", "mongodb://ec2-18-191-205-220.us-east-2.compute.amazonaws.com/finalProject.meters")\
    .getOrCreate()

# df_meters = spark_meters.read.format("com.mongodb.spark.sql.DefaultSource").load()

spark_schedules = SparkSession \
    .builder \
    .appName("test_connection") \
    .config("spark.mongodb.input.uri", "mongodb://ec2-18-191-205-220.us-east-2.compute.amazonaws.com/finalProject.schedules")\
    .getOrCreate()

# df_schedules = spark_schedules.read.format("com.mongodb.spark.sql.DefaultSource").load()

spark_transactions = SparkSession \
    .builder \
    .appName("test_connection") \
    .config("spark.mongodb.input.uri", "mongodb://ec2-18-191-205-220.us-east-2.compute.amazonaws.com/finalProject.transactions")\
    .getOrCreate()

df_transactions = spark_transactions.read.format("com.mongodb.spark.sql.DefaultSource").load()

Py4JJavaError: An error occurred while calling o1276.load.
: java.lang.ClassNotFoundException: Failed to find data source: com.mongodb.spark.sql.DefaultSource. Please find packages at http://spark.apache.org/third-party-projects.html
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:635)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:190)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassNotFoundException: com.mongodb.spark.sql.DefaultSource.DefaultSource
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23$$anonfun$apply$15.apply(DataSource.scala:618)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23$$anonfun$apply$15.apply(DataSource.scala:618)
	at scala.util.Try$.apply(Try.scala:192)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23.apply(DataSource.scala:618)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23.apply(DataSource.scala:618)
	at scala.util.Try.orElse(Try.scala:84)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:618)
	... 13 more

In [1]:
import pandas as pd

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql import SQLContext
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import *

#Feel free to add other libraries from pyspark

# conf = SparkConf().setAppName(app_name)
sc = SparkContext.getOrCreate()
sc.setLogLevel("OFF")

ss = SparkSession.builder.getOrCreate()

In [2]:
sc

In [3]:
Parking_meters = 'Parking_meters.csv'
transcation_input = 'output1month.csv'

In [4]:
schema = StructType([StructField("POST_ID", StringType(), True), 
                    StructField("MS_ID", StringType(), True),
                    StructField("MS_SPACEID", StringType(), True),
                    StructField("CAP_COL", StringType(), True), 
                    StructField("METER_TYPE", StringType(), True),
                    StructField("SMART_METE", StringType(), True),
                    StructField("ACTIVESENS", StringType(), True),
                    StructField("JURISDICTI", StringType(), True),
                    StructField("ON_OFF_STR", StringType(), True),
                    StructField("OSP_ID", StringType(), True),
                    StructField("STREET_NUM", StringType(), True),
                    StructField("STREETNAME", StringType(), True),
                    StructField("STREET_SEG", StringType(), True),
                    StructField("RATEAREA", StringType(), True),
                    StructField("SFPARKAREA", StringType(), True),
                    StructField("LOCATION", StringType(), True)])

parking_meters = ss.read.csv(Parking_meters, schema = schema,header=True)
print(len(parking_meters.columns))
parking_meters.show(1)

16
+---------+-----+----------+-------+----------+----------+----------+----------+----------+------+----------+----------+----------+--------+----------+--------------------+
|  POST_ID|MS_ID|MS_SPACEID|CAP_COL|METER_TYPE|SMART_METE|ACTIVESENS|JURISDICTI|ON_OFF_STR|OSP_ID|STREET_NUM|STREETNAME|STREET_SEG|RATEAREA|SFPARKAREA|            LOCATION|
+---------+-----+----------+-------+----------+----------+----------+----------+----------+------+----------+----------+----------+--------+----------+--------------------+
|401-06340|    -|         0|   Grey|        SS|         N|         N|     SFMTA|        ON|     0|       634|  ELLIS ST|   5177000|  Area 3|          |(37.78436, -122.4...|
+---------+-----+----------+-------+----------+----------+----------+----------+----------+------+----------+----------+----------+--------+----------+--------------------+
only showing top 1 row

In [5]:
parking_meters_selected = parking_meters.select(['POST_ID','MS_ID','MS_SPACEID','CAP_COL','METER_TYPE','SMART_METE','ACTIVESENS','ON_OFF_STR'])
parking_meters_selected.show(3)

+---------+-----+----------+-------+----------+----------+----------+----------+
|  POST_ID|MS_ID|MS_SPACEID|CAP_COL|METER_TYPE|SMART_METE|ACTIVESENS|ON_OFF_STR|
+---------+-----+----------+-------+----------+----------+----------+----------+
|401-06340|    -|         0|   Grey|        SS|         N|         N|        ON|
|104-03190|    -|         0|   Grey|        SS|         N|         Y|        ON|
|352-04350|    -|         0|   Grey|        SS|         N|         N|        ON|
+---------+-----+----------+-------+----------+----------+----------+----------+
only showing top 3 rows

In [6]:
parking_meters_cars = parking_meters_selected.filter((parking_meters_selected.CAP_COL == 'Green') | (parking_meters_selected.CAP_COL == 'Grey'))
print(parking_meters_cars.count())
parking_meters_cars.show(5)

22426
+---------+-----+----------+-------+----------+----------+----------+----------+
|  POST_ID|MS_ID|MS_SPACEID|CAP_COL|METER_TYPE|SMART_METE|ACTIVESENS|ON_OFF_STR|
+---------+-----+----------+-------+----------+----------+----------+----------+
|401-06340|    -|         0|   Grey|        SS|         N|         N|        ON|
|104-03190|    -|         0|   Grey|        SS|         N|         Y|        ON|
|352-04350|    -|         0|   Grey|        SS|         N|         N|        ON|
|116-03980|    -|         0|   Grey|        SS|         N|         N|        ON|
|224-27570|    -|         0|   Grey|        SS|         N|         N|        ON|
+---------+-----+----------+-------+----------+----------+----------+----------+
only showing top 5 rows

In [7]:
parking_meters_tojoin = parking_meters_cars.select(['POST_ID','CAP_COL','METER_TYPE','SMART_METE','ACTIVESENS','ON_OFF_STR'])
parking_meters_tojoin.show(5)

+---------+-------+----------+----------+----------+----------+
|  POST_ID|CAP_COL|METER_TYPE|SMART_METE|ACTIVESENS|ON_OFF_STR|
+---------+-------+----------+----------+----------+----------+
|401-06340|   Grey|        SS|         N|         N|        ON|
|104-03190|   Grey|        SS|         N|         Y|        ON|
|352-04350|   Grey|        SS|         N|         N|        ON|
|116-03980|   Grey|        SS|         N|         N|        ON|
|224-27570|   Grey|        SS|         N|         N|        ON|
+---------+-------+----------+----------+----------+----------+
only showing top 5 rows

In [8]:
schema = StructType([StructField("POST_ID", StringType(), True), 
                    StructField("MS_ID", StringType(), True),
                    StructField("MS_SPACEID", StringType(), True),
                    StructField("CAP_COL", StringType(), True), 
                    StructField("METER_TYPE", StringType(), True),
                    StructField("SMART_METE", StringType(), True),
                    StructField("ACTIVESENS", StringType(), True),
                    StructField("JURISDICTI", StringType(), True),
                    StructField("ON_OFF_STR", StringType(), True),
                    StructField("OSP_ID", StringType(), True),
                    StructField("STREET_NUM", StringType(), True),
                    StructField("STREETNAME", StringType(), True),
                    StructField("STREET_SEG", StringType(), True),
                    StructField("RATEAREA", StringType(), True),
                    StructField("SFPARKAREA", StringType(), True),
                    StructField("LOCATION", StringType(), True)])

trans = ss.read.csv(transcation_input,header=True, inferSchema='true')
print(len(trans.columns))
trans.printSchema()
trans.show(1)

7
root
 |-- POST_ID: string (nullable = true)
 |-- STREET_BLOCK: string (nullable = true)
 |-- PAYMENT_TYPE: string (nullable = true)
 |-- SESSION_START_DT: string (nullable = true)
 |-- SESSION_END_DT: string (nullable = true)
 |-- METER_EVENT_TYPE: string (nullable = true)
 |-- GROSS_PAID_AMT: double (nullable = true)

+---------+--------------+------------+--------------------+--------------------+----------------+--------------+
|  POST_ID|  STREET_BLOCK|PAYMENT_TYPE|    SESSION_START_DT|      SESSION_END_DT|METER_EVENT_TYPE|GROSS_PAID_AMT|
+---------+--------------+------------+--------------------+--------------------+----------------+--------------+
|490-22190|IRVING ST 2200|        CASH|19-OCT-18 11.00.0...|19-OCT-18 11.09.2...|              NS|          0.35|
+---------+--------------+------------+--------------------+--------------------+----------------+--------------+
only showing top 1 row

## Preprocessing

In [9]:
def toTimeSafe(inval):
    try:
        return datetime.strptime(inval, "%d-%b-%y %I.%M.%S %p")
    except ValueError:
        return None

def toFloatSafe(inval):
    try:
        return float(inval)
    except ValueError:
        return None

In [10]:
def stringToPost(row):
    r = row.split(",")
    return Row(
    r[0].lstrip('\"').rstrip('\"'),\
      r[1].lstrip('\"').rstrip('\"'),\
      r[2].lstrip('\"').rstrip('\"'),\
      toTimeSafe(r[3].lstrip('\"').rstrip('\"')),\
      toTimeSafe(r[4].lstrip('\"').rstrip('\"')),\
      r[5].lstrip('\"').rstrip('\"'),\
      toFloatSafe(r[6].lstrip('\"').rstrip('\"'))
    )

In [11]:
trans = sc.textFile(transcation_input)

In [12]:
trans = sc.textFile(transcation_input)
tmp = trans.first()
trans = trans.filter(lambda x: x!= tmp)
trans.take(2)

['490-22190,IRVING ST 2200,CASH,19-OCT-18 11.00.01 AM,19-OCT-18 11.09.21 AM,NS,0.35',
 '823-00160,CHESTNUT ST 0,CASH,13-OCT-18 03.30.34 PM,13-OCT-18 04.33.25 PM,AT,0.05']

In [13]:
trans = sc.textFile(transcation_input)
tmp = trans.first()
trans = trans.filter(lambda x: x!= tmp)
tran_df = trans.map(lambda x: stringToPost(x))

In [14]:
from datetime import datetime

schema = StructType([ StructField("POST_ID", StringType(), True),
                      StructField("STREET_BLOCK", StringType(), True),
                      StructField("PAYMENT_TYPE", StringType(), True),
                      StructField("SESSION_START_DT", TimestampType(), True),
                      StructField("SESSION_END_DT", TimestampType(), True),
                      StructField("METER_EVENT_TYPE", StringType(), True),
                      StructField("GROSS_PAID_AMT", DoubleType(), True),
                    ])
transaction_df = ss.createDataFrame(tran_df, schema)
transaction_df.show(10)

+---------+--------------------+------------+-------------------+-------------------+----------------+--------------+
|  POST_ID|        STREET_BLOCK|PAYMENT_TYPE|   SESSION_START_DT|     SESSION_END_DT|METER_EVENT_TYPE|GROSS_PAID_AMT|
+---------+--------------------+------------+-------------------+-------------------+----------------+--------------+
|490-22190|      IRVING ST 2200|        CASH|2018-10-19 11:00:01|2018-10-19 11:09:21|              NS|          0.35|
|823-00160|       CHESTNUT ST 0|        CASH|2018-10-13 15:30:34|2018-10-13 16:33:25|              AT|          0.05|
|490-21250|      IRVING ST 2100|        CASH|2018-10-29 12:40:30|2018-10-29 13:07:10|              NS|           1.0|
|440-37030|     GEARY BLVD 3700| CREDIT CARD|2018-10-30 13:36:13|2018-10-30 13:49:33|              NS|           0.5|
|540-00100|         LAGUNA ST 0| PAY BY CELL|2018-10-05 09:42:00|2018-10-05 10:12:00|              AT|          1.12|
|700-12080|    VALENCIA ST 1200| PAY BY CELL|2018-10-12 09:00:00|2018-10-12 10:35:00|              NS|          4.35|
|923-00001|Claremont and Ull...| CREDIT CARD|2018-10-26 11:30:54|2018-10-26 12:37:54|              NS|           2.5|
|355-02120|       CHURCH ST 200| CREDIT CARD|2018-10-25 09:12:41|2018-10-25 11:12:41|              NS|           4.5|
|540-28230|      LAGUNA ST 2800| CREDIT CARD|2018-10-10 09:41:19|2018-10-10 10:46:19|              NS|          3.25|
|326-04360|        BEACH ST 400|        CASH|2018-10-22 09:02:41|2018-10-22 12:00:25|              NS|          2.25|
+---------+--------------------+------------+-------------------+-------------------+----------------+--------------+
only showing top 10 rows

In [15]:
transaction_df.printSchema()

root
 |-- POST_ID: string (nullable = true)
 |-- STREET_BLOCK: string (nullable = true)
 |-- PAYMENT_TYPE: string (nullable = true)
 |-- SESSION_START_DT: timestamp (nullable = true)
 |-- SESSION_END_DT: timestamp (nullable = true)
 |-- METER_EVENT_TYPE: string (nullable = true)
 |-- GROSS_PAID_AMT: double (nullable = true)

## aggregate

In [17]:
revenue_df = transaction_df

In [21]:
from pyspark.sql.functions import unix_timestamp, from_unixtime, date_format, col

revenue_df = revenue_df.withColumn('starttime_date',date_format('SESSION_START_DT','yyyy-M-d'))
revenue_df = revenue_df.withColumn('starttime_hour',date_format('SESSION_START_DT','HH').cast('string'))
revenue_df = revenue_df.withColumn('dow',date_format('SESSION_START_DT','u').cast('string'))
revenue_df = revenue_df.withColumn('endtime_hour',date_format('SESSION_END_DT','HH').cast('string'))
revenue_df = revenue_df.withColumn('timeDiff', unix_timestamp('SESSION_END_DT')- unix_timestamp('SESSION_START_DT'))
revenue_df.drop('SESSION_START_DT','SESSION_END_DT').show()

+---------+--------------------+------------+----------------+--------------+--------------+--------------+---+------------+--------+
|  POST_ID|        STREET_BLOCK|PAYMENT_TYPE|METER_EVENT_TYPE|GROSS_PAID_AMT|starttime_date|starttime_hour|dow|endtime_hour|timeDiff|
+---------+--------------------+------------+----------------+--------------+--------------+--------------+---+------------+--------+
|490-22190|      IRVING ST 2200|        CASH|              NS|          0.35|    2018-10-19|            11|  5|          11|     560|
|823-00160|       CHESTNUT ST 0|        CASH|              AT|          0.05|    2018-10-13|            15|  6|          16|    3771|
|490-21250|      IRVING ST 2100|        CASH|              NS|           1.0|    2018-10-29|            12|  1|          13|    1600|
|440-37030|     GEARY BLVD 3700| CREDIT CARD|              NS|           0.5|    2018-10-30|            13|  2|          13|     800|
|540-00100|         LAGUNA ST 0| PAY BY CELL|              AT|          1.12|     2018-10-5|            09|  5|          10|    1800|
|700-12080|    VALENCIA ST 1200| PAY BY CELL|              NS|          4.35|    2018-10-12|            09|  5|          10|    5700|
|923-00001|Claremont and Ull...| CREDIT CARD|              NS|           2.5|    2018-10-26|            11|  5|          12|    4020|
|355-02120|       CHURCH ST 200| CREDIT CARD|              NS|           4.5|    2018-10-25|            09|  4|          11|    7200|
|540-28230|      LAGUNA ST 2800| CREDIT CARD|              NS|          3.25|    2018-10-10|            09|  3|          10|    3900|
|326-04360|        BEACH ST 400|        CASH|              NS|          2.25|    2018-10-22|            09|  1|          12|   10664|
|552-06120|  LONG BRIDGE ST 600| CREDIT CARD|              NS|          0.25|     2018-10-8|            09|  1|          09|     720|
|203-06420|         03RD ST 600|        CASH|              NS|           1.6|    2018-10-26|            15|  5|          15|    2095|
|671-00030|        SOUTH PARK 0| CREDIT CARD|              AT|          8.69|    2018-10-30|            13|  2|          16|   10748|
|340-00433|        BLUXOME ST 0| CREDIT CARD|              NS|          5.58|    2018-10-11|            14|  4|          17|   11109|
|385-00220|        DOLORES ST 0| CREDIT CARD|              NS|          2.21|    2018-10-16|            17|  2|          18|    3519|
|419-02050|     FRANKLIN ST 200| CREDIT CARD|              NS|          4.75|    2018-10-23|            11|  2|          13|    5094|
|444-13180|      GRANT AVE 1300|        CASH|              AT|          1.25|    2018-10-25|            16|  4|          18|    5286|
|120-12970|       20TH AVE 1200|        CASH|              AT|          0.45|    2018-10-13|            11|  6|          12|    1679|
|600-06130|     PACIFIC AVE 600|        CASH|              NS|           1.2|    2018-10-24|            12|  3|          12|    1330|
|700-12140|    VALENCIA ST 1200| PAY BY CELL|              NS|           5.5|    2018-10-22|            09|  1|          11|    7200|
+---------+--------------------+------------+----------------+--------------+--------------+--------------+---+------------+--------+
only showing top 20 rows

In [24]:
wanted_df = revenue_df.groupBy("STREET_BLOCK","dow","starttime_hour")\
                      .agg(avg('GROSS_PAID_AMT').alias('avgRevenue'), 
                      count('starttime_hour').alias('numNewTrans'),
                      avg('timeDiff').alias('avgDur'),
                      count(when(col('METER_EVENT_TYPE')=='NS', True)).alias('numNS'),
                      count(when(col('METER_EVENT_TYPE')=='AT', True)).alias('numAT'),
                      count(when(col('PAYMENT_TYPE')=='CASH', True)).alias('numCASH'),
                      count(when(col('PAYMENT_TYPE')=='CREDIT CARD', True)).alias('numCC'),
                      count(when(col('PAYMENT_TYPE')=='PAY BY CELL', True)).alias('numPhone'),
                      count(when(col('PAYMENT_TYPE')=='SMART CARD', True)).alias('numSmartCard'))

In [25]:
wanted_df.show(2)

+----------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+
|    STREET_BLOCK|dow|starttime_hour|        avgRevenue|numNewTrans|            avgDur|numNS|numAT|numCASH|numCC|numPhone|numSmartCard|
+----------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+
|    BROADWAY 100|  3|            10|           3.66375|         32|            6322.5|   19|   13|      5|   22|       5|           0|
|PRESIDIO AVE 500|  1|            12|1.3291666666666666|         12|2544.3333333333335|   10|    2|      5|    7|       0|           0|
+----------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+
only showing top 2 rows

In [28]:
wanted_df_derv = revenue_df.groupBy("STREET_BLOCK","dow","endtime_hour").count()
wanted_df_derv = wanted_df_derv.withColumnRenamed("STREET_BLOCK", 'block_derv')
wanted_df_derv = wanted_df_derv.withColumnRenamed('dow', 'dow_derv')
# wanted_df_derv.sort("dow","endtime_hour", ascending=[True, True]).show()

In [30]:
wanted_df = wanted_df.join(wanted_df_derv, 
                           (wanted_df.STREET_BLOCK == wanted_df_derv.block_derv) &
                           (wanted_df.dow == wanted_df_derv.dow_derv) &
                           (wanted_df.starttime_hour == wanted_df_derv.endtime_hour)).drop('endtime_hour')

In [31]:
wanted_df = wanted_df.withColumnRenamed('count','numEndTrans')
wanted_df = wanted_df.withColumn('turnover', wanted_df['numNewTrans'] - wanted_df['numEndTrans'])

In [34]:
wanted_df = wanted_df.drop('block_derv','dow_derv')
wanted_df.show()

+------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+
|STREET_BLOCK|dow|starttime_hour|        avgRevenue|numNewTrans|            avgDur|numNS|numAT|numCASH|numCC|numPhone|numSmartCard|numEndTrans|turnover|
+------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+
|   01ST ST 0|  1|            13| 1.512857142857143|         14|1475.5714285714287|   11|    3|      6|    3|       4|           1|         19|      -5|
|   01ST ST 0|  1|            07|             1.375|          6|1353.6666666666667|    6|    0|      2|    0|       0|           4|          2|       4|
|   01ST ST 0|  1|            17|             0.725|          2|            1030.5|    1|    1|      2|    0|       0|           0|          2|       0|
|   01ST ST 0|  1|            15|               1.0|          2|             960.0|    2|    0|      2|    0|       0|           0|          5|      -3|
|   01ST ST 0|  1|            18|              0.25|          4|               0.0|    4|    0|      4|    0|       0|           0|          4|       0|
|   01ST ST 0|  1|            09|2.4153846153846152|         13|2361.3846153846152|   12|    1|      4|    2|       3|           4|         13|       0|
|   01ST ST 0|  1|            10|          2.665625|         16|            2677.5|   15|    1|      2|    3|       1|          10|         13|       3|
|   01ST ST 0|  1|            12| 2.489090909090909|         11|2430.5454545454545|   10|    1|      2|    5|       1|           3|         10|       1|
|   01ST ST 0|  1|            19|              0.25|          3|               0.0|    3|    0|      3|    0|       0|           0|          3|       0|
|   01ST ST 0|  1|            11|1.8342857142857143|         14|            1878.0|   12|    2|      3|    4|       0|           7|         15|      -1|
|   01ST ST 0|  1|            14|1.3608333333333331|         12|1510.6666666666667|   11|    1|      6|    5|       0|           1|         13|      -1|
|   01ST ST 0|  1|            08|              2.68|          8|           2639.75|    7|    1|      0|    3|       1|           4|          6|       2|
|   01ST ST 0|  2|            15|             1.125|          2|            1080.0|    2|    0|      1|    0|       0|           1|          4|      -2|
|   01ST ST 0|  2|            08|            2.9375|         12|2836.5833333333335|   11|    1|      2|    7|       0|           3|         14|      -2|
|   01ST ST 0|  2|            12|2.1340909090909093|         22|2175.7727272727275|   20|    2|      3|    8|       1|          10|         26|      -4|
|   01ST ST 0|  2|            16|              0.25|          2|               0.0|    2|    0|      2|    0|       0|           0|          2|       0|
|   01ST ST 0|  2|            14|             1.782|         10|            1733.3|    9|    1|      4|    2|       2|           2|         19|      -9|
|   01ST ST 0|  2|            10| 1.994814814814815|         27| 2153.222222222222|   25|    2|      8|    9|       1|           9|         26|       1|
|   01ST ST 0|  2|            09|2.2771999999999997|         25|            2413.0|   17|    8|      0|   17|       5|           3|         19|       6|
|   01ST ST 0|  2|            13|2.1626666666666665|         15|            2261.8|   14|    1|      4|    5|       4|           2|         18|      -3|
+------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+
only showing top 20 rows

In [36]:
schedules = ss.read.csv('Meter_Rate_Schedules.csv', header=True).withColumnRenamed("Post ID", "POST_ID")
meters = ss.read.csv('Parking_meters.csv', header=True)

In [37]:
# Change all column names to uppercase
for col in schedules.columns:
    schedules = schedules.withColumnRenamed(col, "_".join(col.split()).upper())

In [40]:
# schedules.write.saveAsTable("Schedules")
transaction_df.select(['STREET_BLOCK', 'POST_ID']).distinct().write.saveAsTable("Transactions")
meters.write.saveAsTable("Meters")

In [41]:
sched_base = ss.sql("""
SELECT POST_ID, AVG_RATE AS RATE, HAS_OVERRIDE FROM (

    SELECT POST_ID, AVG_RATE, CASE WHEN num >= 2 THEN 1 ELSE 0 END HAS_OVERRIDE FROM
    (
        SELECT *,
        count(1) OVER(
        PARTITION BY POST_ID
        ) num,
        AVG(RATE) OVER(
        PARTITION BY POST_ID
        ) AVG_RATE

        FROM Schedules
    )    
)
GROUP BY 1, 2, 3
""")
sched_base.write.saveAsTable('Schedules_Base')

In [42]:
meter_dummy = ss.sql("""
SELECT POST_ID,
RATE,
HAS_OVERRIDE,
CASE WHEN CAP_COLOR = 'Green' THEN 1 ELSE 0 END GREEN,
CASE WHEN CAP_COLOR = 'Grey' THEN 1 ELSE 0 END GREY
FROM
Schedules_Base
join
(
    SELECT * FROM Meters
    WHERE (Meters.CAP_COLOR = 'Green' OR Meters.CAP_COLOR = 'Grey')
)
USING(POST_ID)
""")

In [43]:
block_post = ss.sql("""
    SELECT STREET_BLOCK, POST_ID
    FROM Transactions
    GROUP BY 1,2
    ORDER BY 1
""")

In [44]:
block_post_full = block_post.join(meter_dummy, how='inner', on='POST_ID')

In [45]:
block_post_full.write.saveAsTable("Post_block")

In [46]:
block_info = ss.sql("""
SELECT STREET_BLOCK,
MAX(RATE) RATE,
SUM(HAS_OVERRIDE) NUM_OR,
SUM(GREEN) NUM_GREEN,
SUM(GREY) NUM_GREY
FROM Post_block
GROUP BY 1
""")

In [47]:
block_info.show()

+----------------+------------------+------+---------+--------+
|    STREET_BLOCK|              RATE|NUM_OR|NUM_GREEN|NUM_GREY|
+----------------+------------------+------+---------+--------+
|    16TH ST 2900|               2.0|     0|        2|      17|
|  HAIGHT ST 1600|               2.0|     0|        1|      23|
|COLUMBUS AVE 800|               2.0|     0|        2|       9|
|       KERN ST 0|               2.0|     0|        0|       3|
|     KING ST 300|1.1666666666666667|     4|        0|       4|
|  HOWARD ST 1400|               2.0|     0|        4|      17|
|     03RD ST 100|               3.5|     0|        0|      15|
| GEARY BLVD 3800|               2.0|     0|        0|      13|
|    JONES ST 800|               3.0|     0|        1|      18|
|   24TH AVE 2500|               2.0|     0|        0|       4|
|    GROVE ST 100|            1.6875|     6|        2|       4|
|    03RD ST 4600|               2.0|     0|        0|       8|
|     KING ST 100|             3.125|     7|        0|       7|
|    10TH AVE 300|               2.0|     0|        2|      10|
|    BEACH ST 500|              3.75|     3|        0|       3|
|     08TH ST 600|               2.0|     0|       10|       8|
|COLUMBUS AVE 400|               2.0|     0|        5|       7|
|   BRYANT ST 800|               2.0|     0|       19|       0|
|VALENCIA ST 1400|               2.0|     0|        0|      29|
|    KIRKHAM ST 0|               2.0|     0|        0|      31|
+----------------+------------------+------+---------+--------+
only showing top 20 rows

In [48]:
from pyspark.ml.feature import VectorAssembler
va = VectorAssembler(outputCol="features", inputCols=block_info.columns[1:]) #except the last col.
block_feat = va.transform(block_info)

In [49]:
from pyspark.ml.clustering import KMeans
kmeans =  KMeans(k = 90, maxIter = 200, tol = 0.1) # k = 10 as there are 10 different handwritten numbers.
model = kmeans.fit(block_feat)

In [52]:
kmeans_df = model.transform(block_feat).select('STREET_BLOCK', 'RATE', 'NUM_OR', 'NUM_GREEN', 'NUM_GREY', 'PREDICTION')\
    .withColumnRenamed('PREDICTION', 'CLUSTER')

In [53]:
kmeans_df.show(5)

+----------------+------------------+------+---------+--------+-------+
|    STREET_BLOCK|              RATE|NUM_OR|NUM_GREEN|NUM_GREY|CLUSTER|
+----------------+------------------+------+---------+--------+-------+
|    16TH ST 2900|               2.0|     0|        2|      17|     52|
|  HAIGHT ST 1600|               2.0|     0|        1|      23|     53|
|COLUMBUS AVE 800|               2.0|     0|        2|       9|     14|
|       KERN ST 0|               2.0|     0|        0|       3|     61|
|     KING ST 300|1.1666666666666667|     4|        0|       4|     42|
+----------------+------------------+------+---------+--------+-------+
only showing top 5 rows

In [54]:
final_df = wanted_df.join(kmeans_df, "STREET_BLOCK", "inner")

In [55]:
final_df.show(5)

+------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+-------+
|STREET_BLOCK|dow|starttime_hour|        avgRevenue|numNewTrans|            avgDur|numNS|numAT|numCASH|numCC|numPhone|numSmartCard|numEndTrans|turnover|RATE|NUM_OR|NUM_GREEN|NUM_GREY|CLUSTER|
+------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+-------+
|   01ST ST 0|  1|            10|          2.665625|         16|            2677.5|   15|    1|      2|    3|       1|          10|         13|       3| 3.5|     0|        0|       2|     47|
|   01ST ST 0|  1|            18|              0.25|          4|               0.0|    4|    0|      4|    0|       0|           0|          4|       0| 3.5|     0|        0|       2|     47|
|   01ST ST 0|  1|            14|1.3608333333333331|         12|1510.6666666666667|   11|    1|      6|    5|       0|           1|         13|      -1| 3.5|     0|        0|       2|     47|
|   01ST ST 0|  1|            12| 2.489090909090909|         11|2430.5454545454545|   10|    1|      2|    5|       1|           3|         10|       1| 3.5|     0|        0|       2|     47|
|   01ST ST 0|  1|            17|             0.725|          2|            1030.5|    1|    1|      2|    0|       0|           0|          2|       0| 3.5|     0|        0|       2|     47|
+------------+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+-------+
only showing top 5 rows

In [ ]:
final_df.select("*",)

In [56]:
finalal_df = final_df.drop("STREET_BLOCK")

In [57]:
finalal_df.show(5)

+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+-------+
|dow|starttime_hour|        avgRevenue|numNewTrans|            avgDur|numNS|numAT|numCASH|numCC|numPhone|numSmartCard|numEndTrans|turnover|RATE|NUM_OR|NUM_GREEN|NUM_GREY|CLUSTER|
+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+-------+
|  1|            10|          2.665625|         16|            2677.5|   15|    1|      2|    3|       1|          10|         13|       3| 3.5|     0|        0|       2|     47|
|  1|            18|              0.25|          4|               0.0|    4|    0|      4|    0|       0|           0|          4|       0| 3.5|     0|        0|       2|     47|
|  1|            14|1.3608333333333331|         12|1510.6666666666667|   11|    1|      6|    5|       0|           1|         13|      -1| 3.5|     0|        0|       2|     47|
|  1|            12| 2.489090909090909|         11|2430.5454545454545|   10|    1|      2|    5|       1|           3|         10|       1| 3.5|     0|        0|       2|     47|
|  1|            17|             0.725|          2|            1030.5|    1|    1|      2|    0|       0|           0|          2|       0| 3.5|     0|        0|       2|     47|
+---+--------------+------------------+-----------+------------------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+-------+
only showing top 5 rows

In [63]:
finalal_df.printSchema()

root
 |-- dow: string (nullable = true)
 |-- starttime_hour: string (nullable = true)
 |-- avgRevenue: double (nullable = true)
 |-- numNewTrans: long (nullable = false)
 |-- avgDur: double (nullable = true)
 |-- numNS: long (nullable = false)
 |-- numAT: long (nullable = false)
 |-- numCASH: long (nullable = false)
 |-- numCC: long (nullable = false)
 |-- numPhone: long (nullable = false)
 |-- numSmartCard: long (nullable = false)
 |-- numEndTrans: long (nullable = false)
 |-- turnover: long (nullable = false)
 |-- RATE: double (nullable = true)
 |-- NUM_OR: long (nullable = true)
 |-- NUM_GREEN: long (nullable = true)
 |-- NUM_GREY: long (nullable = true)
 |-- CLUSTER: integer (nullable = false)

## modeling

In [75]:
from pyspark.ml.feature import StringIndexer

def indexStringColumns(df, cols):
    #variable newdf will be updated several times
    newdf = df
    
    for c in cols:
        #For each given colum, fits StringIndexerModel.
        si = StringIndexer(inputCol=c, outputCol=c+"-num",stringOrderType="alphabetDesc")
        sm = si.fit(newdf)
        #Creates a DataFame by putting the transformed values in the new colum with suffix "-num" 
        #and then drops the original columns.
        #and drop the "-num" suffix. 
        newdf = sm.transform(newdf).drop(c)
        newdf = newdf.withColumnRenamed(c+"-num", c)
    return newdf

stringindex_anotherdf = indexStringColumns(finalal_df, ['CLUSTER','dow','starttime_hour'])

In [76]:
from pyspark.ml.feature import OneHotEncoder
def oneHotEncodeColumns(df, cols):
    newdf = df
    for c in cols:
        #For each given colum, create OneHotEncoder. 
        #dropLast : Whether to drop the last category in the encoded vector (default: true)
        onehotenc = OneHotEncoder(inputCol=c, outputCol=c+"-onehot", dropLast=False)
        #Creates a DataFame by putting the transformed values in the new colum with suffix "-onehot" 
        #and then drops the original columns.
        #and drop the "-onehot" suffix. 
        newdf = onehotenc.transform(newdf).drop(c)
        newdf = newdf.withColumnRenamed(c+"-onehot", c)
    return newdf

onehot_anotherdf = oneHotEncodeColumns(stringindex_anotherdf, ['CLUSTER','dow','starttime_hour'])

In [77]:
onehot_anotherdf.show(1)

+----------+-----------+------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+---------------+-------------+---------------+
|avgRevenue|numNewTrans|avgDur|numNS|numAT|numCASH|numCC|numPhone|numSmartCard|numEndTrans|turnover|RATE|NUM_OR|NUM_GREEN|NUM_GREY|        CLUSTER|          dow| starttime_hour|
+----------+-----------+------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+---------------+-------------+---------------+
|  2.665625|         16|2677.5|   15|    1|      2|    3|       1|          10|         13|       3| 3.5|     0|        0|       2|(90,[47],[1.0])|(7,[6],[1.0])|(24,[13],[1.0])|
+----------+-----------+------+-----+-----+-------+-----+--------+------------+-----------+--------+----+------+---------+--------+---------------+-------------+---------------+
only showing top 1 row

In [78]:
onehot_anotherdf.printSchema()

root
 |-- avgRevenue: double (nullable = true)
 |-- numNewTrans: long (nullable = false)
 |-- avgDur: double (nullable = true)
 |-- numNS: long (nullable = false)
 |-- numAT: long (nullable = false)
 |-- numCASH: long (nullable = false)
 |-- numCC: long (nullable = false)
 |-- numPhone: long (nullable = false)
 |-- numSmartCard: long (nullable = false)
 |-- numEndTrans: long (nullable = false)
 |-- turnover: long (nullable = false)
 |-- RATE: double (nullable = true)
 |-- NUM_OR: long (nullable = true)
 |-- NUM_GREEN: long (nullable = true)
 |-- NUM_GREY: long (nullable = true)
 |-- CLUSTER: vector (nullable = true)
 |-- dow: vector (nullable = true)
 |-- starttime_hour: vector (nullable = true)

In [79]:
# Merging the data with Vector Assembler.
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(
    inputCols=["avgRevenue","numNewTrans","avgDur","numNS","numAT","numCASH","numCC","numPhone","numSmartCard","numEndTrans","RATE","NUM_OR","NUM_GREEN","NUM_GREY","CLUSTER"],
    outputCol="features")

output = assembler.transform(onehot_anotherdf)

# va = VectorAssembler(outputCol="features", inputCols=anotherdf.columns[1:]) #except the last col.
penlpoints = output.select("features", "turnover")
penlpoints.show(3)

+--------------------+--------+
|            features|turnover|
+--------------------+--------+
|(104,[0,1,2,3,4,5...|       3|
|(104,[0,1,3,5,9,1...|       0|
|(104,[0,1,2,3,4,5...|      -1|
+--------------------+--------+
only showing top 3 rows

In [83]:
splits = penlpoints.randomSplit([0.8, 0.2])

#cache() : the algorithm is interative and training and data sets are going to be reused many times.
train = splits[0].cache()
test = splits[1].cache()

In [84]:
# Train the data.
from pyspark.ml.regression import DecisionTreeRegressor
# Paramenters
#maxDepth : maximum tree depth (default : 5).
#maxBins : maximum number of bins when binning continuous features (default : 32).
#minInstancesPerNode : minimum number of dataset samples each branch needs to have after a split (default : 1).
#minInfoGain : minimum information gain for a split (default : 0).
dt = DecisionTreeRegressor(labelCol="turnover")
dtmodel = dt.fit(train)

In [85]:
#Test data.
dtpredicts = dtmodel.transform(test)

In [86]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator(labelCol="turnover", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(dtpredicts)
print(rmse)

8.865871510197337

In [88]:
# Train the data.
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator

# Paramenters
#maxDepth : maximum tree depth (default : 5).
#maxBins : maximum number of bins when binning continuous features (default : 32).
#minInstancesPerNode : minimum number of dataset samples each branch needs to have after a split (default : 1).
#minInfoGain : minimum information gain for a split (default : 0).
dt = RandomForestRegressor(labelCol="turnover")
dtmodel = dt.fit(train)
#Test data.
dtpredicts = dtmodel.transform(test)
evaluator = RegressionEvaluator(labelCol="turnover", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(dtpredicts)
print(rmse)

8.555589808990208