In [1]:
import pandas as pd

In [2]:
Meter_Rate_Schedules = pd.read_csv("Meter_Rate_Schedules.csv")

In [3]:
Parking_meters = pd.read_csv("Parking_meters.csv")

In [68]:
len(Parking_meters)

28997

In [4]:
sfmta = pd.read_csv("SFMTA_Parking_Meter_Detailed_Revenue_Transactions.csv")

In [5]:
Meter_Rate_Schedules.head(5)

,Post ID,Schedule Priority,Days Applied,From Time,To Time,Rate Type,Rate
0,102-02990,1,NaN,NaN,NaN,Base Rate,2.0
1,102-03890,1,NaN,NaN,NaN,Base Rate,2.0
2,102-03900,1,NaN,NaN,NaN,Base Rate,2.0
3,102-03910,1,NaN,NaN,NaN,Base Rate,2.0
4,102-03920,1,NaN,NaN,NaN,Base Rate,2.0

In [6]:
Parking_meters.head(5)

,POST_ID,MS_ID,MS_SPACEID,CAP_COLOR,METER_TYPE,SMART_METE,ACTIVESENS,JURISDICTI,ON_OFF_STR,OSP_ID,STREET_NUM,STREETNAME,STREET_SEG,RATEAREA,SFPARKAREA,LOCATION
0,401-06340,-,0,Grey,SS,N,N,SFMTA,ON,0,634,ELLIS ST,5177000,Area 3,,"(37.78436, -122.41724)"
1,104-03190,-,0,Grey,SS,N,Y,SFMTA,ON,0,319,04TH AVE,241000,Area 3,,"(37.78263, -122.46232)"
2,352-04350,-,0,Grey,SS,N,N,SFMTA,ON,0,435,CASTRO ST,3790000,Area 3,,"(37.7614, -122.43495)"
3,116-03980,-,0,Grey,SS,N,N,SFMTA,ON,0,398,16TH AVE,672000,Area 3,,"(37.7808, -122.47505)"
4,224-27570,-,0,Grey,SS,N,N,SFMTA,ON,0,2757,24TH ST,1331000,Area 3,,"(37.75283, -122.40763)"

In [7]:
sfmta.head()

,POST_ID,STREET_BLOCK,PAYMENT_TYPE,SESSION_START_DT,SESSION_END_DT,METER_EVENT_TYPE,GROSS_PAID_AMT
0,720-18030,WASHINGTON ST 1800,CASH,10-AUG-17 02.00.53 PM,10-AUG-17 02.35.47 PM,AT,1.05
1,568-22390,MISSION ST 2200,CASH,02-MAR-18 10.05.46 AM,02-MAR-18 10.17.46 AM,NS,0.35
2,224-40500,24TH ST 4000,CASH,08-MAR-17 10.53.13 AM,08-MAR-17 11.06.33 AM,NS,0.50
3,419-04070,FRANKLIN ST 400,CREDIT CARD,01-JUL-16 08.15.49 AM,01-JUL-16 01.00.00 PM,NS,4.50
4,658-01060,SPEAR ST 100,CREDIT CARD,05-JUN-17 02.40.56 PM,05-JUN-17 03.00.00 PM,NS,1.20

In [8]:
sfmta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92986498 entries, 0 to 92986497
Data columns (total 7 columns):
POST_ID             object
STREET_BLOCK        object
PAYMENT_TYPE        object
SESSION_START_DT    object
SESSION_END_DT      object
METER_EVENT_TYPE    object
GROSS_PAID_AMT      float64
dtypes: float64(1), object(6)
memory usage: 4.8+ GB

In [9]:
sfmta['SESSION_START_DT'].max()

'31-OCT-18 12.59.59 PM'

In [10]:
sfmta['SESSION_START_DT'].min()

'01-APR-17 01.00.00 PM'

In [12]:
from datetime import datetime

datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')
datetime_object = datetime.strptime('31-OCT-18 12.59.59 PM', '%d-%b-%y %I.%M.%S %p')
datetime_object

datetime.datetime(2018, 10, 31, 12, 59, 59)

In [13]:
sfmta['SESSION_START_DT'] = datetime.strptime(sfmta['SESSION_START_DT'], '%d-%b-%y %I.%M.%S %p')

TypeError: strptime() argument 1 must be str, not Series

In [14]:
date_series = sfmta['SESSION_START_DT'].apply(datetime.strptime, args=('%d-%b-%y %I.%M.%S %p',))
date_series.head(5)

0   2017-08-10 14:00:53
1   2018-03-02 10:05:46
2   2017-03-08 10:53:13
3   2016-07-01 08:15:49
4   2017-06-05 14:40:56
Name: SESSION_START_DT, dtype: datetime64[ns]

In [16]:
date_series.max()

Timestamp('2018-12-31 23:58:26')

In [17]:
date_series.min()

Timestamp('2016-07-01 04:33:01')

In [18]:
len(date_series)

92986498

In [19]:
len(sfmta)

92986498

In [20]:
date_series[0]

Timestamp('2017-08-10 14:00:53')

In [69]:
start_date = datetime.strptime('01-Oct-18 12.00.00 AM', '%d-%b-%y %I.%M.%S %p')
end_date = datetime.strptime('31-Oct-18 11.59.59 PM', '%d-%b-%y %I.%M.%S %p')

In [70]:
date_series[0] > start_date

False

In [71]:
def desired_date(time):
    if time > start_date and time < end_date:
        return True
    else:
        return False
result = [desired_date(i) for i in date_series]

In [72]:
len(result)

92986498

In [73]:
enddf = sfmta[result]

In [74]:
# enddf.to_csv(index=False)

In [75]:
enddf.to_csv(path_or_buf="/Users/ziyuanhan/Desktop/distri_project/output.csv", index=False)

In [78]:
enddf[enddf['STREET_BLOCK'].str.contains('WASHINGTON ST')]

,POST_ID,STREET_BLOCK,PAYMENT_TYPE,SESSION_START_DT,SESSION_END_DT,METER_EVENT_TYPE,GROSS_PAID_AMT
15049881,720-05390,WASHINGTON ST 500,CREDIT CARD,04-OCT-18 08.32.01 AM,04-OCT-18 06.00.00 PM,NS,3.32
15050090,720-04430,WASHINGTON ST 400,CREDIT CARD,09-OCT-18 09.30.01 AM,09-OCT-18 01.30.00 PM,NS,17.63
15050263,720-06200,WASHINGTON ST 600,CREDIT CARD,03-OCT-18 12.15.18 PM,03-OCT-18 01.15.18 PM,NS,3.75
15050390,720-03433,WASHINGTON ST 300,CREDIT CARD,01-OCT-18 08.16.01 AM,01-OCT-18 01.00.00 PM,NS,1.40
15050491,720-05390,WASHINGTON ST 500,CREDIT CARD,22-OCT-18 06.56.01 AM,22-OCT-18 06.00.00 PM,NS,3.85
15050537,720-01040,WASHINGTON ST 100,CREDIT CARD,29-OCT-18 01.30.37 PM,29-OCT-18 03.30.37 PM,NS,12.50
15050565,720-16400,WASHINGTON ST 1600,CREDIT CARD,29-OCT-18 05.58.33 PM,29-OCT-18 06.00.00 PM,AT,0.25
15050590,720-02090,WASHINGTON ST 200,CASH,01-OCT-18 12.23.00 PM,01-OCT-18 01.18.41 PM,AT,3.30
15050857,720-01140,WASHINGTON ST 100,CREDIT CARD,18-OCT-18 11.29.30 AM,18-OCT-18 01.22.14 PM,AT,11.50
15050966,720-16510,WASHINGTON ST 1600,CREDIT CARD,26-OCT-18 12.15.38 PM,26-OCT-18 02.15.38 PM,NS,4.50
15051323,720-02240,WASHINGTON ST 200,PAY BY CELL,29-OCT-18 10.38.00 AM,29-OCT-18 11.08.00 AM,NS,1.50
15051464,720-16330,WASHINGTON ST 1600,CREDIT CARD,31-OCT-18 03.18.35 PM,31-OCT-18 05.18.12 PM,AT,4.27
15051877,720-03140,WASHINGTON ST 300,CREDIT CARD,18-OCT-18 09.42.01 AM,18-OCT-18 10.42.00 AM,NS,2.75
15052050,720-05630,WASHINGTON ST 500,PAY BY CELL,17-OCT-18 07.48.00 AM,17-OCT-18 06.00.00 PM,NS,3.57
15052090,720-16340,WASHINGTON ST 1600,SMART CARD,11-OCT-18 09.59.44 AM,11-OCT-18 10.59.44 AM,NS,2.00
15052246,720-05470,WASHINGTON ST 500,PAY BY CELL,24-OCT-18 08.23.00 AM,24-OCT-18 05.23.00 PM,NS,3.15
15052278,720-24360,WASHINGTON ST 2400,CASH,27-OCT-18 12.34.06 PM,27-OCT-18 12.58.38 PM,AT,0.25
15052448,720-00170,WASHINGTON ST 0,CREDIT CARD,26-OCT-18 03.01.35 PM,26-OCT-18 05.01.35 PM,NS,14.00
15052498,720-02080,WASHINGTON ST 200,SMART CARD,18-OCT-18 10.32.01 AM,18-OCT-18 11.02.00 AM,NS,1.50
15052589,720-05670,WASHINGTON ST 500,CREDIT CARD,03-OCT-18 10.15.01 AM,03-OCT-18 05.15.00 PM,NS,2.45
15052747,720-08440,WASHINGTON ST 800,CREDIT CARD,13-OCT-18 01.42.13 PM,13-OCT-18 02.12.13 PM,NS,1.63
15052828,720-00150,WASHINGTON ST 0,CASH,03-OCT-18 11.10.17 AM,03-OCT-18 12.21.30 PM,NS,0.25
15053711,720-17110,WASHINGTON ST 1700,CREDIT CARD,13-OCT-18 01.09.43 PM,13-OCT-18 01.59.27 PM,NS,1.75
15053730,720-04090,WASHINGTON ST 400,CREDIT CARD,05-OCT-18 11.34.01 AM,05-OCT-18 12.34.05 PM,NS,4.75
15053791,720-01240,WASHINGTON ST 100,CASH,03-OCT-18 03.49.19 PM,03-OCT-18 04.04.41 PM,NS,1.60
15054022,720-04270,WASHINGTON ST 400,CREDIT CARD,15-OCT-18 06.49.01 AM,15-OCT-18 09.00.00 AM,NS,7.50
15054034,720-16570,WASHINGTON ST 1600,PAY BY CELL,11-OCT-18 03.44.00 PM,11-OCT-18 05.44.00 PM,NS,4.50
15054370,720-08090,WASHINGTON ST 800,CREDIT CARD,24-OCT-18 09.52.40 AM,24-OCT-18 11.24.59 AM,NS,5.00
15054451,720-00150,WASHINGTON ST 0,CASH,24-OCT-18 01.34.50 PM,24-OCT-18 01.49.37 PM,NS,1.60
15054552,720-05600,WASHINGTON ST 500,CREDIT CARD,29-OCT-18 08.20.01 AM,29-OCT-18 06.00.00 PM,NS,3.39
...,...,...,...,...,...,...,...
17576066,720-00210,WASHINGTON ST 0,CREDIT CARD,31-OCT-18 04.56.22 PM,31-OCT-18 06.00.00 PM,NS,7.45
17576470,720-18170,WASHINGTON ST 1800,PAY BY CELL,29-OCT-18 03.22.00 PM,29-OCT-18 03.52.00 PM,AT,1.37
17576557,720-02170,WASHINGTON ST 200,CASH,01-OCT-18 11.44.01 AM,01-OCT-18 11.59.00 AM,NS,0.75
17576583,720-01050,WASHINGTON ST 100,CREDIT CARD,17-OCT-18 03.39.22 PM,17-OCT-18 03.41.46 PM,NS,0.25
17576980,720-05090,WASHINGTON ST 500,CREDIT CARD,01-OCT-18 09.59.43 AM,01-OCT-18 01.07.30 PM,AT,8.00
17577016,720-00090,WASHINGTON ST 0,CREDIT CARD,15-OCT-18 02.02.38 PM,15-OCT-18 02.45.08 PM,AT,3.00
17577670,720-04470,WASHINGTON ST 400,CREDIT CARD,03-OCT-18 10.57.01 AM,03-OCT-18 01.57.04 PM,NS,14.67
17577703,720-00240,WASHINGTON ST 0,CREDIT CARD,25-OCT-18 03.32.38 PM,25-OCT-18 06.00.00 PM,NS,9.50
17577842,720-05140,WASHINGTON ST 500,PAY BY CELL,13-OCT-18 05.17.00 PM,13-OCT-18 06.01.00 PM,NS,1.08
17577914,720-17500,WASHINGTON ST 1700,SMART CARD,31-OCT-18 10.03.14 AM,31-OCT-18 10.10.44 AM,NS,0.25
17578076,720-03190,WASHINGTON ST 300,CASH,03-OCT-18 11.12.09 AM,03-OCT-18 12.12.09 PM,AT,0.25
17578107,720-02220,WASHINGTON ST 200,CREDIT CARD,01-OCT-18 12.20.00 PM,01-OCT-18 02.02.03 PM,NS,2.38
17578115,720-00240,WASHINGTON ST 0,CREDIT CARD,30-OCT-18 10.43.18 AM,30-OCT-18 02.11.47 PM,NS,18.75
17578307,720-16580,WASHINGTON ST 1600,PAY BY CELL,09-OCT-18 02.25.00 PM,09-OCT-18 04.25.00 PM,NS,4.50
17578743,720-00140,WASHINGTON ST 0,CREDIT CARD,29-OCT-18 10.31.34 AM,29-OCT-18 12.30.51 PM,NS,8.50
17578755,720-04450,WASHINGTON ST 400,PAY BY CELL,30-OCT-18 09.25.00 AM,30-OCT-18 12.25.00 PM,NS,11.98
17578857,720-17220,WASHINGTON ST 1700,CREDIT CARD,27-OCT-18 10.19.13 AM,27-OCT-18 11.49.13 AM,NS,2.25
17578991,720-16050,WASHINGTON ST 1600,CREDIT CARD,01-OCT-18 07.29.10 AM,01-OCT-18 11.00.00 AM,NS,4.00
17579233,720-04490,WASHINGTON ST 400,CASH,31-OCT-18 07.24.00 AM,31-OCT-18 08.32.24 AM,AT,0.65
17579315,720-17350,WASHINGTON ST 1700,CREDIT CARD,04-OCT-18 12.55.24 PM,04-OCT-18 02.55.24 PM,NS,4.50
17579717,720-17410,WASHINGTON ST 1700,CREDIT CARD,29-OCT-18 09.52.20 AM,29-OCT-18 10.37.20 AM,NS,1.50
17580272,720-03357,WASHINGTON ST 300,CREDIT CARD,16-OCT-18 08.18.01 AM,16-OCT-18 06.00.00 PM,NS,3.15
17580430,720-06120,WASHINGTON ST 600,CASH,24-OCT-18 03.29.19 PM,24-OCT-18 03.55.44 PM,AT,0.85
17580563,720-01200,WASHINGTON ST 100,CREDIT CARD,20-OCT-18 04.37.50 PM,20-OCT-18 05.27.11 PM,AT,0.25
17580726,720-17350,WASHINGTON ST 1700,CREDIT CARD,15-OCT-18 10.38.55 AM,15-OCT-18 11.38.55 AM,NS,2.00
17580791,720-16320,WASHINGTON ST 1600,CREDIT CARD,13-OCT-18 03.26.54 PM,13-OCT-18 05.26.54 PM,NS,4.50
17580795,720-00060,WASHINGTON ST 0,PAY BY CELL,25-OCT-18 11.16.00 AM,25-OCT-18 12.16.00 PM,NS,4.30
17581002,720-08200,WASHINGTON ST 800,CASH,10-OCT-18 04.38.42 PM,10-OCT-18 04.53.29 PM,NS,0.80
17581005,720-00160,WASHINGTON ST 0,CREDIT CARD,03-OCT-18 11.55.28 AM,03-OCT-18 12.39.10 PM,NS,1.75
17581085,720-17320,WASHINGTON ST 1700,CREDIT CARD,13-OCT-18 02.47.42 PM,13-OCT-18 03.42.56 PM,NS,2.25

In [15]:
date_series2 = pd.to_datetime(sfmta['SESSION_START_DT'])
date_series2.head(5)

ValueError: ('Unknown string format:', '10-AUG-17 02.00.53 PM')

In [ ]:
from datetime import datetime

date_series = data['SESSION_START_DT'].apply(datetime.strptime, args=('%d-%b-%y %I.%M.%S %p',))


start_date = datetime.strptime('01-Oct-18 12.00.00 AM', '%d-%b-%y %I.%M.%S %p')
end_date = datetime.strptime('31-Oct-18 11.59.59 PM', '%d-%b-%y %I.%M.%S %p')

def desired_date(time):
    if time > start_date and time < end_date:
        return True
    else:
        return False


result = [desired_date(i) for i in date_series]